@import "tailwindcss";

:root {
  --color-bg: #F8F7F4;
  --color-text: #1A1D29;
  --color-accent: #D4FF3F;
  --color-neutral: #6B7280;
  --color-white: #FFFFFF;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

* {
  cursor: none;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}